@page
@model Bakery.pages.AboutModel
@{
    ViewData["Title"] = "About us";
}
<section id="main">
    <h1>A little bit about Buret</h1>
    <p>
        Buret Tech was founded in 2021 and delivers coffee goods right to your door. 
        In another life, Moses Cheboi was a developer by day and Bar tender by night.  
        But soon Cheboi's innate skills with all things involving butter, flour and sugar put him 
        even more in demand than his programming talents and what started out as a way to satisfy 
        his own sweet tooth became all-consuming.  BuretCafe is not only a candy-coated wonderland 
        of coffee, pastries, cookies and cakes, it also honors his tech background by employing a state 
        of the art online ordering system that makes it easy for anybody with internet access to 
        order his all natural, locally-sourced confections and have them delivered to their 
        door within 24 hours.   
    
    </p>
</section>
